<script type="text/template" class="toppings-table-template">
  <div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="topping of toppings">
          <td>
            {{topping.id}}
          </td>
          <td>{{topping.name}}</td>
          <td>
            <button v-if="toppings.length > 1" class="btn btn-danger btn-sm" v-on:click="destroy(topping.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>Add new topping</h3>
    <form v-on:submit.prevent="submit()">
      <div class="form-group">
        <label for="name">name</label>
        <input type="text" id="name" v-model="topping.name" class="form-control" required/>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success btn-block">
      </div>
    </form>
  </div>
</script>
<div class="toppings-vue-app">
  <div class="row">
    <div class="col-md-6">
      <h2>Toppings</h2>
      <toppings-table-component v-bind:toppings="toppings"></toppings-table-component>
    </div>
  </div>
</div>
